@page "/"

<PageTitle>Home</PageTitle>
<div class="row" >
    <div class="col-4" style="text-align:right">
        <img src="/imagenes/Logo2-removebg-preview.png" width="80px" height="50px" style="margin-right:-60px"/>
    </div>
    <div class="col-4">
        <h1 class="text-center">¡Oh My Dog!</h1>
    </div>
    <div class="col-4"style="text-align:left">
        <img src="/imagenes/Logo2-removebg-preview.png" width="80px" height="50px" style="margin-left:-60px" />
    </div>
</div>


<style>
    

    section{
        display: flex;
        width: auto;
        height: 450px;
    }
    section img{
        width: 0px;
        flex-grow: 1;
        object-fit:cover;
        opacity: 1;
        transition: .5s ease;
    }
    section img:hover{
        
        width:300px;
        height: 450px;
        opacity: 1;
        filter: contrast(130%);
    }
</style>



<h3 style="text-align:center">¡Bienvenidos a nuestra página!</h3>
<hr />

    <section>
        <img src="/imagenes/galeria1.jpg" />
        <img src="/imagenes/galeria4.jpg" />
        <img src="/imagenes/galeria3.jpg" />
    </section>


<SurveyPrompt/>
