@page "/"

<PageTitle>Home</PageTitle>

<h1>¡Oh My Dog!</h1>

<style>
    body {
        background-color: #FAF7F3;
        background-image: url(/imagenes/Logo1-removebg-preview.png);
        background-repeat: no-repeat;
        background-position: 62% center;
    }
</style>



<h3>Bienvenido a nuestra página.</h3>

<!--<SurveyPrompt Title="Como esta funcionando todo" />-->
