
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="/imagenes/Logo2-removebg-preview.png" alt="Logo" width="20%" height="20%" class="img-fluid mx-auto d-block">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="turnos">
                <span class="oi oi-plus" aria-hidden="true"></span> Turnos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adopciones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Adopciones (proximamente)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perdidas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Perdidas (proximamente)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hallazgos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hallazgos (proximamente)
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin,Normal">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cruzas">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Cruzas (proximamente)
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="atenciones">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Atenciones
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="perros">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Perros
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
