<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .iconos{
            font-size:27px;
            margin-right: 10px
        }

        .dropdown-menu {
            display: block;
            position: absolute;
            background-color: #f9f9f9;
            padding: 8px;
            margin-top: 4px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
    </style>
</head>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="/imagenes/Logo2-removebg-preview.png" alt="Logo" width="20%" height="20%" class="img-fluid mx-auto d-block">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons iconos">
                    home
                </span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
           <Authorized>
                <div class="nav-item px-3" >
                    <NavLink class="nav-link " @onclick="ToggleDropdown">
                    <span class="material-icons iconos" >
                            medical_services
                     </span> Turnos
                     </NavLink>
                </div>
                @if (isDropdownOpen)
                    {
                    <div style="margin-left: 20px;margin-top:-20px">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="turnosAceptados">
                                <span class="material-icons iconos">
                                    check_circle
                                </span> Aceptados
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="turnosPendientes">
                                <span class="material-icons iconos">
                                    pending
                                </span> Pendientes
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="turnosCancelados">
                                <span class="material-icons iconos">
                                    cancel
                                </span> Cancelados
                            </NavLink>
                        </div>
                    </div>
                    
                    }
           </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Normal">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="turnos">
                        <span class="material-icons iconos">
                            medical_services
                        </span> Turnos
                    </NavLink>
                </div>
            </Authorized>
           
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adopciones">
                <span class="material-icons iconos">
                    volunteer_activism
                </span> Adopciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="servicios">
                <span class="material-icons iconos">
                    explore
                </span> Paseadores y cuidadores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perdidas">
                <span class="material-icons iconos">
                    search_off
                </span> Perdidas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hallazgos">
                <span class="material-icons iconos">
                    zoom_in
                </span> Hallazgos
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin,Normal">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cruzas">
                    <span class="material-icons iconos">
                        handshake
                    </span> Cruzas (proximamente)
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="atenciones">
                    <span class="material-icons iconos">
                        healing
                    </span> Atenciones
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="perros">
                    <span class="material-icons iconos">
                        pets
                    </span> Perros
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios">
                    <span class="iconos material-icons">
                        manage_accounts
                    </span> Usuarios
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,Normal">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="guardias">
                    <span class="iconos material-icons">
                        manage_accounts
                    </span> Guardias
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    bool isDropdownOpen = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
   

    void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }
}
